<h2 class="screen-align">Add person</h2>
<div class="">
    <div id="it1j" class="">
        <div id="template-i82w" class="gjs-row">
            <div id="template-icbb" class="gjs-cell">
                <input type="text" id="template-iyw7h" placeholder="enter personid" required="true"
                [(ngModel)]="person.personid" [ngModelOptions]="{standalone: true}" ngDefaultControl
                class="form-control " />
            </div>
            <div id="template-ixcj" class="gjs-cell">
                <input type="text" id="template-iv93y" placeholder="enter name" required="true"
                [(ngModel)]="person.name" [ngModelOptions]="{standalone: true}" ngDefaultControl
                class="form-control " />
            </div>
            <div id="template-ipdf" class="gjs-cell">
                <input type="text" id="template-i43nc" placeholder="enter age" required="true"
                [(ngModel)]="person.age" [ngModelOptions]="{standalone: true}" ngDefaultControl
                class="form-control " />
            </div>
        </div>
        <div id="template-it6g" class="gjs-row">
            <div id="template-ipyz" class="gjs-cell">
                <input type="text" id="template-is2re" placeholder="enter address" required="true"
                [(ngModel)]="person.address" [ngModelOptions]="{standalone: true}" ngDefaultControl
                class="form-control " />
            </div>
        </div>
        <div type="button" id="template-iw84j" class="btn btn-primary "></div>
    </div>
</div>