<h2 class="screen-align">Screen462318</h2>
<div id="template-i128" class="">
    <div name="grid_template-i6bk" class="">
        <div class="tableBg">
            <table id="table" class="table table-bordered  table-striped table-curved table-response"
            data-show-header="true" data-pagination="true" data-id-field="name">
                <thead class="table table-hover">
                    <tr>
                        <th *ngFor="let column of columnDefs">{{column.headerName}}</th>
                    </tr>
                </thead>
                <tbody class="table-design" *ngIf="rowData.length==0">
                    <td style="text-align: center;" colspan="5">No Data Found</td>
                </tbody>
                <tbody class="table-design" *ngIf="rowData.length>0">
                    <tr *ngFor="let values of rowData | slice: (page-1) * paginationPageSize :(page-1) * paginationPageSize + paginationPageSize">
                        <td>{{ values.personid }}</td>
                        <td>{{ values.name }}</td>
                        <td>{{ values.age }}</td>
                        <td>{{ values.address }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bottomPage">
            <div class="text-right">
                <ngb-pagination class="d-flex justify-content-start" [(page)]="page" [maxSize]="5"
                [rotate]="true" [pageSize]="paginationPageSize" [collectionSize]="rowData.length"
                [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>
        <div id="myGrid" class=""></div>
    </div>
    <div id="myGrid" class="ag-theme-alpine "></div>
</div>